.order{
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 10px;
    box-shadow: 2px 2px 4px #171717;
    padding: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}