.order{
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 10px;
    padding: 10px;
    margin:5px;
    text-align: center;
    max-width: 200px;
    display: inline-block;
    background-color: #c8dfc8;
}
.custom-button {
    background-color: #0a770e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 2px;
}
.container{
    display: flex;
    flex-flow:row wrap;
    column-gap: 200px;
}
