.order{
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 10px;
    box-shadow: 4px 4px 8px #b7f11b;
    padding: 10px;
    margin:5px;
    text-align: center;
    max-width: 200px;
    display: inline-block;
}
.custom-button {
    background-color: #537007;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 2px;
}